/*** Housekeeping Stuff ***/

:root {
    --blue-bg-300: hsl(218, 56%, 23%);
    --blue-bg-400: hsl(217, 58%, 12%);
    --coolblue-bg-300: hsl(210, 36%, 89%);
    --coolblue-bg-400: hsl(210, 36%, 69%);
    --blue-hdg: hsl(193, 100%, 87%);
    --blue-hdg-400: hsl(208, 68%, 25%);
    --blue-hdg-500: hsl(208, 68%, 15%);
    --grey-bg: hsl(0, 0%, 41%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

body {
    /*background-color: var(--coolblue-bg-400);*/
    background-color: var(--blue-bg-400);
    color: hsl(0 0% 100% / 0.938);
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-weight: 400;
}

img {
    max-width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: column;
}

/*** END Housekeeping Stuff ***/

/*** Header Stuff ***/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    margin-bottom: 2em;
}

header h1 {
    font-size: 2rem;
    margin-left: 0.5em;
    color: var(--blue-hdg-400);
}

header img {
    max-width: 100%;
}

header img,
.pfp-container img {
    display: block;

}

#logo {
    border-radius: 50%;
    width: 130px;
}

/*** End Header Stuff ***/

/*** Profile Stuff ***/

section {
    margin-bottom: 2em;
}

#pf-block {
    display: block;
}

.pfp-container {
    margin-top: 2em;
}

#pfp {
    border-top-right-radius: 4vw;
    border-bottom-left-radius: 4vw;
    border-top-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
}

.pfp-container img {
    margin: 0 auto;
    width: 200px;
}

.intro h2 {
    white-space: nowrap;
}

.intro h2,
.intro time {
    font-size: 1.5rem;
    color: var(--blue-hdg-400);
}

.intro-stuff {
    text-align: center;
    padding: 0.5em;
}

.box-card {
    background-color: var(--grey-bg);
    padding: 1em;
    margin: 0.5em;
    border-radius: 0.5em;
}

.box-card h3 {
    margin-bottom: 1em;
    color: var(--blue-hdg);
}

.box-card ul {
    margin-left: 1em;
}

/*** End Profile Stuff ***/

/*** Tech Block Stuff ***/

#tech-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

#tech-block .tech-pfp {
    margin: 1em auto;
    justify-content: center;
    position: relative;
}

.tech-pfp img {
    max-width: 100%;
    width: 200px;
}

.tech-pfp figcaption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5em;
    position: absolute;
    bottom: 0;
    width: auto;
}

/*** End Tech Block Stuff ***/

/*** Learn Block Stuff ***/

#learn-block h2 {
    color: var(--blue-hdg-400);
    font-size: 1.5rem;
    font-weight: bold;
}

#learn-block p:nth-of-type(1) {
    margin-bottom: 2em;
}

/*** End Learn Block Stuff ***/

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1em;
}

@media (min-width: 790px) {
    .intro {
        flex: 1;
        margin-left: 1.5em;
    }

    .intro-stuff {
        display: flex;
        justify-content: space-between;
        padding: 0.5em;
    }

    .intro h2 {
        margin-right: 7em;
    }

    #pf-block {
        display: flex;
        flex-direction: row;
    }

    #pf-block .pfp-container {
        flex-direction: column;
    }

    #tech-block {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .tech-pfp {
        display: flex;
        flex-flow: column;
        max-width: 220px;
    }

    .tech-pfp figcaption {
        width: 17.5vw;
        padding: 0.25em;
    }

    #tech-block .tech-pfp {
        margin: 0 2em;
        justify-content: center;
        position: relative;
        text-align: center;
        flex: 1;
    }

    .tech-pfp img {
        margin: 0 0.938em;
    }
}

@media (min-width: 1197px) {
    .container {
        width: 960px;
    }

    #tech-block .tech-pfp {
        margin: 0 1em;
    }

    .tech-pfp {
        display: flex;
        flex-flow: column;
        margin: auto;
        max-width: 220px;
    }

    .tech-pfp img {
        max-width: 180px;
    }

    .tech-pfp figcaption {
        text-align: center;
        max-width: 220px;
    }
}